.home{
    background-color: blueviolet;
    line-height: 5px;
    border-radius: 5px;
    border-color: rgb(46, 43, 226);
    padding: 2px;
    margin-left: 4px;
    margin-right: 4px;
    border-style: ridge;
}

.home:hover{
    background-color: bisque;
}

body {
    display: block;
    background-color: coral;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
    list-style: none;

}

li {
    padding: 10px;


}

li:hover {
    background-color: darkgreen;
}

.container {
    flex-wrap: wrap;
    text-align: justify;
    text-size-adjust: 14px;
    font-style: normal;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 290px;
    height: 450px

}

.Sewing {
    text-align: left;
    text-transform: uppercase;
    font-size: larger;
    padding: 20px;
    margin: 5px;
    line-height: 25px;
}

.Pink-dress {
    width: 180px;
    height: 200px;
    margin: 2px;
    padding: 30px;
}

.Kimono-dress {
    border: 15px;
    width: 200px;
    height: 200px;
    margin: 2px;
    padding: 10px
}

.Gown-picture {
    border: 15px;
    margin: 3px 3px 3px 3px;
    width: 250px;
    height: 330px;
    padding: 10px;

}

.Writing {
    text-align: left;
    text-transform: uppercase;
    font-size: larger;
    margin: 5px;
    padding: 20px;
    line-height: 25px;

}

.pictures{
    display: flex;
    justify-content: space-between;

}
    

.First-Html-Webpage {
    justify-content: flex-start;
    text-transform: uppercase;
    font-size: larger;
    padding: 3px;
    margin: 4px;
}

.Bell-Peppers {
    justify-content: flex-start;
    text-transform: uppercase;
    font-size: larger;
    padding: 3px;
    margin: 4px;

}
.Lions {
    justify-content: left;
    text-transform: uppercase;
    font-size: larger;
    padding: 3px;
    margin: 4px;
}

form:hover {
    background-color: blueviolet;

}

footer:hover {
    background-color: darkorchid;
}